:root {
    --ion-font-family: 'PolySans', sans-serif;
    --ion-font-size: 14px;
    --ion-text-paragraph: 500 1em 'Krub', sans-serif !important;
    --ion-text-label: 700 0.8em 'Krub', sans-serif !important;
    --ion-title-big: bold 2.5em 'PolySans', sans-serif !important;
    --ion-title-medium: bold 2em 'PolySans', sans-serif !important;
    --ion-title-small: bold 1.25em 'PolySans', sans-serif !important;

    --ion-color-primary: #90A855;
    --ion-color-primary-rgb: 144,168,85;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #7f944b;
    --ion-color-primary-tint: #9bb166;

    --ion-color-secondary: #1B882F;
    --ion-color-secondary-rgb: 27,136,47;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #187829;
    --ion-color-secondary-tint: #329444;

    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82,96,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    --ion-color-success: #1B882F;
    --ion-color-success-rgb: 27,136,47;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #187829;
    --ion-color-success-tint: #329444;

    --ion-color-warning: #D8571C;
    --ion-color-warning-rgb: 216,87,28;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #be4d19;
    --ion-color-warning-tint: #dc6833;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

  ion-item.custom::part(native) {
    --placeholder-color: #ddd !important;
    --placeholder-opacity: .8 !important;
    --border-style: none;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.212);
  }

  ion-item.custom {
    overflow: visible !important;
    margin-top: 1em;
  }

  h2 {
    font: var(--ion-title-small);
    padding-left: 1em;
  }

  .slider {
    padding-left: 1em;
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 0.4em;
  }